header{
   background: #11AACC;
}

h1{
left: 16px;
top: 8px;

font-family: 'Jaldi';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 68px;

color: #FFFFFF;
}

ul{
    display: flex;
    position: relative;
    left: 518px;
}
li{
    margin-left: 200px;
    margin-top:-50px;
}
.imagem{
    background: #3FB4F7;
}
.imagem2{
    margin-left: 1300px;
}
.imagem3{
    background: #4033D7;
}
.lista2{
    display: flow-root;
    position: relative;
    left: 100px;
    top: -100px;
    color: brown;